{% extends "public/base.jinja2" %}
{% set page = 3 %}
{% block title %}About{% endblock %}
{% block content %}
    <h3>Technical difficulties</h3>
    <p>The application is completely based on the C/C++ stack, using some third-party technologies.</p>
    <ul style="list-style-type:none">
        <li><a href="https://qt.io">Qt Framework</a></li>
        <li><a href="https://github.com/ColinDuquesnoy/QDarkStyleSheet">Qt Dark Style</a></li>
        <li><a href="https://github.com/google/gumbo-parser">Google Gumbo HTML Parser</a></li>
        <li><a href="https://openssl.org/">Open SSL library </a>(as part of Qt Framework)</li>
    </ul>
    <p>For getting data on Dota2 players, we use <a href="https://dotabuff.com">Dotabuff</a> and the <a href="https://opendota.com/">Dota Open API</a></p>
        <p>Site powered by <a href="https://milligram.io/">Milligram</a></p>
{% endblock %}