{% extends "components/base.jinja2" %}
{% block title %}Changelog{% endblock %}
{% block content %}
    <h3>Changelog</h3>
    {% for key in record|reverse %}
        <h4>{{ key['version'] }}</h4>
        {% if key['changes']|length > 0  %}
            <ul>
            {% for keys in key['changes'] %}
                <li>{{ keys }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <li>No changes. Version up build.</li>
        {% endif %}
    {% endfor %}
{% endblock %}