{% extends "public/base.jinja2" %}
{% set page = 4 %}
{% block title %}Contacts{% endblock %}
{% block content %}
    <h3>Contact me</h3>
    <div id="contacts">
        <p>You can contact me using <a href="mailto:knowyourenemy@gmail.com">email</a> or usage feedback form on site. Always you can write me on <a href="https://steamcommunity.com/profiles/76561198073951905/">Steam</a>, when i am online</p>
    </div>
    <h4>Feedback form</h4>
    <div class="row">
        <form name="mailform" class="column column-50" action="javascript:mail(this.mailform)">
            <fieldset>
                <label for="email">Email</label>
                <input required type="email" placeholder="example@domain.com" name="email">
                <label for="letter">Comment</label>
                <textarea required maxlength="200" minlength="10" placeholder="your email text..." name="letter" ></textarea>
                <input type="submit" value="Send">
                <div id='message' class="message success float-right"></div>
            </fieldset>
        </form>
    </div>
{% endblock %}