{% extends "public/base.jinja2" %}
{% set page = 2 %}
{% block title %}Download{% endblock %}
{% block content %}
    <h3>Download</h3>
    <p>You can download a latest version as one of possible ways. See <a href="/changelog">changelog</a> for know about update functions</p>
    <ul>
        <li><a href="#">Offline installer</a></li>
        <li><a href="#">Online Installer</a></li>
        <li><a href="#">ZIP Archive</a></li>
    </ul>
    <h3>Old versions </h3>
    <ul>
    {% for key in versions|reverse %}
    <li><a href="{{ key['link'] }}">{{ key['version'] }}</a><small> ({{ key['c_date'] }})</small></li>
    {% endfor %}
    </ul>
{% endblock %}