{% extends "public/base.jinja2" %}
{% set page = 5 %}
{% block title %}FAQ{% endblock %}
{% block content %}
    <h3 id="top">Content</h3>
    <ul>
        {% for rec in record %}
        <li><a href="#{{- loop.index0 -}}">{{- rec['question'] -}}</a></li>
        {% endfor %}
    </ul>
    {% for key in record %}
    <section>
    <h4 id="{{- loop.index0 -}}">{{- key['question'] -}}<a href="#top">&nbsp;<i class="fas fa-angle-up"></i></a></h4>
        <p>{{- key['answer']|safe -}}</p>
    </section>
    {% endfor %}
{% endblock %}