{% extends "public/base.jinja2" %}
{% set page = 0 %}
{% block title %}Home{% endblock %}
{% block landimage %}<image style="width:100%;" src="/static/img/header.jpg"></image>{% endblock %}
{% block content %}
    <div class="row">
        <div class="column column-33">
            <div class="cont">
                <a href="/features#info" class="info fas fa-info-circle fa-5x"></a>
                <div>Only the necessary information</div>
            </div>
        </div>
        <div class="column column-33">
            <div class="cont">
                <a href="/features#custom" class="custom fas fa-cog fa-5x"></a>
                <div>Complete customization of view</div>
            </div>
        </div>
        <div class="column column-33">
            <div class="cont">
                <a href="/features#secure" class="secure fas fa-lock fa-5x"></a>
                <div>Innocuous for Steam VAC and Dota2</div>
            </div>
        </div>
    </div>
    <h4>be fully armed</h4>
    <p>Knowyourenemy is simple application for help Dota2 players. It allows you to display recent activity, the ability to use heroes and general information about players. The application is processed with dota2 client and does not discomfort at the picking stage at the start of the found game. You do not need to switch to special sites, or viewing the player profiles in the dota2 client, for your comfort are provided a few hotkeys. The application is written in C++ and does not have run-time depend on third-party applications (aka Discord etc). Initialization and processing result passes unnoticed for the user and will show as soon as possible.</p>
    <p>The application is completely safe, and does not provoke VAC, because it does not use any forbidden actions with dota2 client and its data. However, your jewelry will remain with you, of course.</p>
    <p>Don't waste the time: install, usage, and good luck have fun!</p>
{% endblock %}