{% extends "components/base.jinja2" %}
{% import "components/navbar.jinja2" as navbar %}
{% block navigation %}{{ navbar.error() }}{% endblock %}
{% block error %}
<div class="error-page">
<img src="/static/img/404.jpg" alt="404" style="width:100%;">
<div class="img-text">Nature's Prophet hasn't found page.<br>Is it 4.04 dota patch?</div>
</div>
{% endblock %}
