{% extends "components/base.jinja2" %}
{% import "components/navbar.jinja2" as navbar %}
{% block navigation %}{{ navbar.error() }}{% endblock %}
{% block error %}
<div class="error-page">
<img src="/static/img/500.jpg" alt="500" style="width:100%;">
<div class="img-text">Server internal error<br>but it's not for long</div>
</div>
{% endblock %}


