{% extends "admin/base.jinja2" %}
{% block title %}Add Build{% endblock %}
{% block content %}
    <h4>Add new build</h4>
        <div class="row" id="feedback">

        <form class="column column-50" action="/builds" method="post">
            <fieldset>
                <label for="version">Version</label>
                <input type="text" required pattern="\d+(?:\.\d+){2}[a-c]{0,1}\b" placeholder="x.x.x option a|b" name="version">

                <label for="link">Link</label>
                <input required type="url" placeholder="direct link for download file" name="link">

                <label for="log">Changes</label>
                <textarea required type="text" pattern="([^|])+" placeholder="will split by | symbol" name="log" ></textarea>

                <input class="send" type="submit" value="upload build">
            </fieldset>
        </form>
        </div>
{% endblock %}