{% extends "admin/base.jinja2" %}
{% set page = 0 %}

{% block title %}Admin Panel{% endblock %}
{% block content %}
<div class="clearfix">
  <h4 class="float-left">Builds</h4>
  <a class="button button-outline float-right" href="/admin/build/add">add</a>
</div>
<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Link</th>
      <th>Date</th>
      <th>Changes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row['version'] }}</td>
      <td>{{ row['link'] }}</td>
      <td>{{ row['date'] }}</td>
      <td>
        {%- if row['changes']|length -%}
        <details>
          <summary><small>{{ row['changes']|length }}&nbsp;records</small></summary>
          <ul style="list-style-type:none">
            {% for i in row['changes']%}
            <li>{{- i -}}</li>
            {% endfor %}
          </ul>
        </details>
        {% else %}
        <small>no changes</small>
        {% endif %}
      </td>
      <td>
        <i class="fas fa-pen-square"></i>
        &nbsp;
        <i class="fas fa-trash-alt"></i>
      </td>
      {% endfor %}
  </tbody>
</table>
{% endblock %}