{% extends "admin/base.jinja2" %}
{% set page = 1 %}
{% block title %}Admin-Builds{% endblock %}
{% block content %}
    <table>
    <thead>
    <tr>
        <th>Version</th>
        <th>{{data['summ']}}</th>
    </tr>
    </thead>
    <tbody>
    {% set perc = data['summ'] / 100 %}
    {% for row in data['counters'] %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
    {% endfor %}
    </tbody>
</table>
{% endblock %}