{% extends "admin/base.jinja2" %}
{% set page = 2 %}
{% block title %}Admin-Changes{% endblock %}
{% block content %}
    <h3>Velcome to the Knowyourenemy page</h3>
    <p>Knowyourenemy is simple application for help Dota2 players. It allows you to display recent activity, the ability to use heroes and general information about players. The application is processed with dota2 client and does not discomfort at the picking stage at the start of the found game. You do not need to switch to special sites, or viewing the player profiles in the dota2 client, for your comfort are provided a few hotkeys. The application is written in C++ and does not have run-time depend on third-party applications (aka Discord etc). Initialization and processing result passes unnoticed for the user and will show as soon as possible.</p>
    <p>The application is completely safe, and does not provoke VAC, because it does not use any forbidden actions with dota2 client and its data. However, your jewelry will remain with you, of course.</p>
    <p>Don't waste the time: install, usage, and good luck have fun!</p>
{% endblock %}