{% extends "admin/base.jinja2" %}
{% set page = 4 %}
{% block title %}Admin - Mails{% endblock %}
{% block content %}
    <table>
    <tbody class="inbox">
    {% for row in messages %}
    <tr onclick="location.href='SomeWherrrreOverTheWebsiiiite.html'">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
     </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}