{% extends "admin/base.jinja2" %}
{% set page = 3 %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="row">
    <form name="settingsform" class="column column-50" action="javascript:settings(this.settingsform)">
        <fieldset>
            <h3>Email Setting</h3>
            <label for="e-mail">Email</label>
            <input required type="email" placeholder="email..." name="e-mail" {% if keys["e-mail"] %}value={{ keys["e-mail"] }}{% endif %}>
            <label for="e-pwd">Password</label>
            <input required type="password" placeholder="password..." name="e-pwd" {% if keys["e-pwd"] %}value={{ keys["e-pwd"] }}{% endif %}>
            <label for="e-server">Server</label>
            <input required type="text" placeholder="SMTP server..." name="e-server" {% if keys["e-server"] %}value={{ keys["e-server"] }}{% endif %}>
            <label for="e-port">Port</label>
            <input required type="number" pattern="[0-9]{4}" min="1" max="9999" placeholder="port..." name="e-port" {% if keys["e-port"] %}value={{ keys["e-port"] }}{% endif %}>

            <h3>Storage Setting</h3>
            <label for="st_server">Storage Server</label>
                <select name="st-server">
                    <option selected value="gdisk">Google Disk</option>
                    <option {% if keys["st_server"]|string() == 'drbox' %}selected{% endif %} value="drbox">Drop Box</option>
                </select>
            <label for="st-key">APi key</label>
            <input required type="text" placeholder="private API key..." name="st-key" {% if keys["st-key"] %}value={{ keys["st-key"] }}{% endif %}>
            <label for="st-path">Folder</label>
            <input type="text" placeholder="path to defaul folder..." name="st-path" {% if keys["st-path"] %}value={{ keys["st-path"] }}{% endif %}>
            <input class="send" type="submit" value="Save">
        </fieldset>
    </form>
    </div>
{% endblock %}