{% extends "admin/base.jinja2" %}
{% block title %}Singin{% endblock %}
{% block navigation %}{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 10em">
        <form name="loginform" class="column column-center column-50 column-offset-25" action="javascript:signin(this.loginform)">
            <fieldset>
                <label for="login">Login</label>
                <input required type="text" placeholder="enter login" name="login">
                <label for="password">Password</label>
                <input required type="password" maxlength="12" minlength="4" placeholder="enter password" name="password">
                <input type="submit" value="SignIn">
                <div id='message' class="message error float-right"></div>
            </fieldset>
        </form>
    </div>

{% endblock %}
{% block footer %}{% endblock %}