{% import "components/footer.jinja2" as footer %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/helpers.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class='container'>
    {% block navigation %}{% endblock %}
    {% block error %}{% endblock %}
    {% block landimage %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block footer %}{{ footer.footer() }}{% endblock %}
</div>
</body>
</html>