{% macro public(page = None) %}
<div class='navbar'>
<ul>
    <li><a {% if page==0 %}class="active" {% endif %} href="/">Home</a></li>
    <li><a {% if page==1 %}class="active" {% endif %} href="/features">Features</a></li>
    <li><a {% if page==2 %}class="active" {% endif %} href="/download">Download</a></li>
    <li><a {% if page==3 %}class="active" {% endif %} href="/about">About</a></li>
    <li><a {% if page==4 %}class="active" {% endif %} href="/contacts">Contacts</a></li>
    <li><a {% if page==5 %}class="active" {% endif %} href="/faq">FAQ</a></li>
</ul>
</div>
{% endmacro %}

{% macro admin(page = None, new_messages = 5) %}
<div class='navbar'>
<ul>
    <li><a {% if page==0 %}class="active" {% endif %} href="/admin">Home</a></li>
    <li><a {% if page==1 %}class="active" {% endif %} href="/admin/builds">Builds</a></li>
    <li><a {% if page==2 %}class="active" {% endif %} href="/admin/changelog">Changelogs</a></li>
    <li><a {% if page==3 %}class="active" {% endif %} href="/admin/settings">Settings</a></li>
    <li><a {% if page==4 %}class="active" {% endif %} href="/admin/inbox">Feedbacks{% if new_messages > 0 and page!=4 %}({{ new_messages }}){% endif %}</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
</div>
{% endmacro %}

{% macro error() %}
<div class='navbar'>
<ul>
    <li><a href="javascript:history.go(-1)">Go Back</a></li>
</ul>
</div>
{% endmacro %}

